In [1]:
import pandas as pd
import tqdm
import numpy as np
import codecs
import glob
import random
import matplotlib.pyplot as plt
import sys

In [80]:
#liar_coefs = pd.read_csv("liar_TEST_coefs_10000feats_5gram-l1.csv", sep='\t') # six-class Liar
kaggle = pd.read_csv("kaggle_coefs_final.csv", sep='\t')
liar = pd.read_csv("liar_coefs_final.csv", sep='\t')
FakeNewsNet = pd.read_csv("FakeNewsNet_coefs_final.csv", sep='\t')
# use final files

In [81]:
#classes = ['barely-true', 'false','half-true', 'mostly-true', 'pants-fire', 'true']
#liar_coefs.columns = [s.replace('_', ' ') for s in liar_coefs.columns]

#print(len(liar_coefs))
#print(len(classes))

#liar_coefs["class_labels"] = classes
#liar_coefs.set_index("class_labels", inplace=True)
#liar_coefs = liar_coefs.T
#false = liar_coefs.sort_values(by='false', ascending=False)
#false = false["false"]
#print(false.head(10))
#print(false.tail(10))

In [83]:
# find "best features" through highest coefficients of binary data

kaggle.columns = [s.replace('_', ' ') for s in kaggle.columns]
#kaggle_coefs.T.sort_values(by=0, ascending=False).tail(20)
kaggle.T.sort_values(by=0, ascending=False).head(30)

                                0
president donald trump  44.419383
breitbart               33.262422
president trump         29.953989
follow                  26.090524
on twitter              24.048604
said                    20.267602
ms                      18.724870
mr                      18.390579
2017                    16.524177
sunday                  12.162331
ap                       9.029540
the 2016                 8.993441
new york                 8.459367
twitter                  7.320697
last year                7.207630
president donald         7.017092
in 2016                  6.969075
an                       6.859950
                         6.473593
march                    6.404286
saturday                 6.214272
on                       5.777907
its                      5.758600
milo                     5.605364
app                      5.473274
but                      5.287803
friday                   5.202065
jeff                     5.096164
administration           5.092549
spicer                   4.978871

In [85]:
liar.columns = [s.replace('_', ' ') for s in liar.columns]
#kaggle_coefs.T.sort_values(by=0, ascending=False).tail(20)
liar.T.sort_values(by=0, ascending=False).head(30)

                          0
than               3.943907
countries          3.942619
since              3.891896
percent            3.068167
day                3.032906
says donald trump  2.952451
average            2.883745
still              2.868666
georgia            2.601293
shutdown           2.490296
debt               2.387724
million            2.358784
lobbyists          2.310321
while the          2.300257
to do              2.250680
times              2.183326
months             2.103412
worth              2.067387
highest            2.009213
money from         1.991730
corporations       1.922233
he                 1.915460
cut                1.878987
says scott         1.866033
the country        1.835692
of                 1.832807
lower              1.819907
expanded           1.813954
twenty             1.803512
up to              1.763890

In [21]:
# make common vocabulary (only shared words)
# Rank features med Mean reciprocal rank. Brug kun overlappende vocabulary mellem alle datasæt
# Prøv også Spearman rank order correlation:
# https://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.stats.spearmanr.html
from scipy import stats
#stats.spearmanr(a, b)

In [ ]:
# 1 = True
# 0 = Fake

In [ ]:
def mean_reciprocal_rank(rs):
    rs = (np.asarray(r).nonzero()[0] for r in rs)
    return np.mean([1. / (r[0] + 1) if r.size else 0. for r in rs])